doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/build/css/base.css')
  link(rel='stylesheet' href='/build/css/fragments/homepage2.css')
  link(rel='icon' type='image/x-icon' href='/plugin/images/images2/icons/logo.svg')
  title K O L
// scroll
#btn_scroll
  img#btn_scroll-value(src='/plugin/images/images2/icons/btn_top.svg' alt='')
// modal menu
#showMenu.showMenu
  .btn_close
    img#pointer.btn_close(src='/plugin/images/images2/icons/btn_close.svg' alt='')
  ul
    a(href='#')
      li
        h6.h6 01
        p _HOME
    a(href='#more')
      li
        h6 02
        p _MORE PAGE
    a(href='#product')
      li
        h6 03
        p _PRODUCT PAGE
    a(href='#project')
      li
        h6 04
        p _PROJECT PAGE
    a(href='#ft')
      li
        h6 05
        p _FOOTER PAGE
  .contact_homepage
    a(href='')
      img(src='/plugin/images/images2/icons/Insta.svg' alt='')
    a(href='')
      img(src='/plugin/images/images2/icons/Fb.svg' alt='')
    a(href='')
      img(src='/plugin/images/images2/icons/Twiter.svg' alt='')
    a(href='')
      img(src='/plugin/images/images2/icons/Pintrest.svg' alt='')
// menu
#bgr_home.homepage
  .nav
    .menu
      a#btn_menu.btn_menu(href='')
        img#btn_menu.btn_menu(src='/plugin/images/images2/icons/btn_menu.svg' alt='')
    img.logo(src='/plugin/images/images2/icons/full_logo.svg' alt='')
    .contact_homepage
      a#contact(href='')
        img(src='/plugin/images/images2/icons/Insta.svg' alt='')
      a#contact(href='')
        img(src='/plugin/images/images2/icons/Fb.svg' alt='')
      a#contact(href='')
        img(src='/plugin/images/images2/icons/Twiter.svg' alt='')
      a#contact(href='')
        img(src='/plugin/images/images2/icons/Pintrest.svg' alt='')
  .body_homepage
    .content_body
      .col-1
        h5 01/05
        h6 BIZ NEWS
      .col-2
        h2 CH&#x1EE6; NH&Acirc;N HIT TRI&#x1EC6;U VIEW
        p
          | N&agrave;ng ca s&itilde; 9x ti&#x1EC1;m n&abreve;ng &ldquo;oanh t&#x1EA1;c&rdquo; v&#x1EDB;i hit 14 tri&#x1EC7;u view, ti&#x1EBF;p t&#x1EE5;c ch&agrave;o
          | s&acirc;n &dstrok;&#x1B0;&#x1EDD;ng &dstrok;ua &acirc;m nh&#x1EA1;c v&#x1EDB;i ca kh&uacute;c t&igrave;nh y&ecirc;u ng&#x1ECD;t c&#x1EF1;c b&#x1EAF;t tai.
    .slide_homepage
      .slide_homeA
        #pointer.slide1(onclick='changeBgr(this)')
          .img_slide
            img(src='/plugin/images/images2/img2.jfif' alt='')
          .content
            h4 CH&#x1EE6; NH&Acirc;N HIT TRI&#x1EC6;U VIEW
            p New hot
        #pointer.slide2(onclick='changeBgr(this)')
          .img_slide
            img(src='/plugin/images/images2/img1.png' alt='')
          .content
            h4 CH&#x1EE6; NH&Acirc;N HIT TRI&#x1EC6;U VIEW
            p New hot
        #pointer.slide3(onclick='changeBgr(this)')
          .img_slide
            img(src='/plugin/images/img3.png' alt='')
          .content
            h4 CH&#x1EE6; NH&Acirc;N HIT TRI&#x1EC6;U VIEW
            p New hot
        #pointer.slide4(onclick='changeBgr(this)')
          .img_slide
            img(src='/plugin/images/images2/img3_product.jfif' alt='')
          .content
            h4 CH&#x1EE6; NH&Acirc;N HIT TRI&#x1EC6;U VIEW
            p New hot
        #pointer.slide5(onclick='changeBgr(this)')
          .img_slide
            img(src='/plugin/images/images2/img5pro.png' alt='')
          .content
            h4 CH&#x1EE6; NH&Acirc;N HIT TRI&#x1EC6;U VIEW
            p New hot
      .slide_homeA(aria-hidden='true')
        #pointer.slide1(onclick='changeBgr(this)')
          .img_slide
            img(src='/plugin/images/images2/img2.jfif' alt='')
          .content
            h4 CH&#x1EE6; NH&Acirc;N HIT TRI&#x1EC6;U VIEW
            p New hot
        #pointer.slide2(onclick='changeBgr(this)')
          .img_slide
            img(src='/plugin/images/images2/img1.png' alt='')
          .content
            h4 CH&#x1EE6; NH&Acirc;N HIT TRI&#x1EC6;U VIEW
            p New hot
        #pointer.slide3(onclick='changeBgr(this)')
          .img_slide
            img(src='/plugin/images/img3.png' alt='')
          .content
            h4 CH&#x1EE6; NH&Acirc;N HIT TRI&#x1EC6;U VIEW
            p New hot
        #pointer.slide4(onclick='changeBgr(this)')
          .img_slide
            img(src='/plugin/images/images2/img3_product.jfif' alt='')
          .content
            h4 CH&#x1EE6; NH&Acirc;N HIT TRI&#x1EC6;U VIEW
            p New hot
        #pointer.slide5(onclick='changeBgr(this)')
          .img_slide
            img(src='/plugin/images/images2/img5pro.png' alt='')
          .content
            h4 CH&#x1EE6; NH&Acirc;N HIT TRI&#x1EC6;U VIEW
            p New hot
.modal_cards
  .container_cards
    .btn_close
      img#pointer.btn_close(src='/plugin/images/images2/icons/btn_close.svg' alt='')
    .col-img
      img(src='/plugin/images/images2/img1.png' alt='')
    .col-content
      h4 Nguyen Thanh A
      ul
        li
          | The beauty of astronomy is that anybody can do it. From the tiniest baby
          | to the most advanced astrophysicist, there is something for anyone who
          | wants to enjoy astronomy.
        li
          | The beauty of astronomy is that anybody can do it. From the tiniest baby
          | to the most advanced astrophysicist, there is something for anyone who
          | wants to enjoy astronomy.
        li
          | The beauty of astronomy is that anybody can do it. From the tiniest baby
          | to the most advanced astrophysicist, there is something for anyone who
          | wants to enjoy astronomy.
        li
          | The beauty of astronomy is that anybody can do it. From the tiniest baby
          | to the most advanced astrophysicist.
#more.morepage
  .nav_more
    .menu_more
      img#pointer.btn_menu(src='/plugin/images/images2/icons/btn_menu.svg' alt='')
    .logo_more
      img(src='/plugin/images/images2/icons/full_logo.svg' alt='' width='150px')
    .contact_more
      a#contact(href='')
        img(src='/plugin/images/images2/icons/Insta.svg' alt='')
      a#contact(href='')
        img(src='/plugin/images/images2/icons/Fb.svg' alt='')
      a#contact(href='')
        img(src='/plugin/images/images2/icons/Twiter.svg' alt='')
      a#contact(href='')
        img(src='/plugin/images/images2/icons/Pintrest.svg' alt='')
  .body_more
    .content_body
      h1 NEW
      h2 HOT KOL
      .content-mo
        .icon_content-mo
          img.icon_content-mo(src='/plugin/images/icons/icon_content_more.svg' alt='')
        .content
          | The beauty of astronomy is that anybody can do it. From the tiniest baby
          | to the most advanced astrophysicist, there is something for anyone who
          | wants to enjoy astronomy.
      #pointer.btn_more
        p VIEW MORE
        img#pointer(src='/plugin/images/images2/icons/btn_Text_more.svg' alt='')
    .cards
      .card-top
        #btn_card.card1
          .img_card
            img(src='/plugin/images/images2/img1.png' alt='')
          .content_card
            h4 Nguyen Thanh A
            p
              | Lorem ipsum dolor sit amet, consectetur adipising elit, sed do
              | eiusmod tempor
        #btn_card.card2
          .img_card
            img(src='/plugin/images/images2/img_more.png' alt='')
          .content_card
            h4 Nguyen Thanh A
            p
              | Lorem ipsum dolor sit amet, consectetur adipising elit, sed do
              | eiusmod tempor
        #btn_card.card3
          .img_card
            img(src='/plugin/images/images2/img_more.png' alt='')
          .content_card
            h4 Nguyen Thanh A
            p
              | Lorem ipsum dolor sit amet, consectetur adipising elit, sed do
              | eiusmod tempor
        #btn_card.card4
          .img_card
            img(src='/plugin/images/images2/img_more.png' alt='')
          .content_card
            h4 Nguyen Thanh A
            p
              | Lorem ipsum dolor sit amet, consectetur adipising elit, sed do
              | eiusmod tempor
      .card-bottom
        #btn_card.card1
          .img_card
            img(src='/plugin/images/images2/img_more.png' alt='')
          .content_card
            h4 Nguyen Thanh A
            p
              | Lorem ipsum dolor sit amet, consectetur adipising elit, sed do
              | eiusmod tempor
        #btn_card.card2
          .img_card
            img(src='/plugin/images/images2/img_more.png' alt='')
          .content_card
            h4 Nguyen Thanh A
            p
              | Lorem ipsum dolor sit amet, consectetur adipising elit, sed do
              | eiusmod tempor
        #btn_card.card3
          .img_card
            img(src='/plugin/images/images2/img_more.png' alt='')
          .content_card
            h4 Nguyen Thanh A
            p
              | Lorem ipsum dolor sit amet, consectetur adipising elit, sed do
              | eiusmod tempor
        #btn_card.card4
          .img_card
            img(src='/plugin/images/images2/img_more.png' alt='')
          .content_card
            h4 Nguyen Thanh A
            p
              | Lorem ipsum dolor sit amet, consectetur adipising elit, sed do
              | eiusmod tempor
#product.productpage
  .nav_more
    .menu_more
      img#pointer.btn_menu(src='/plugin/images/images2/icons/btn_menu.svg' alt='')
    .logo_more
      img(src='/plugin/images/images2/icons/full_logo.svg' alt='' width='150px')
    .contact_more
      a#contact(href='')
        img(src='/plugin/images/images2/icons/Insta.svg' alt='')
      a#contact(href='')
        img(src='/plugin/images/images2/icons/Fb.svg' alt='')
      a#contact(href='')
        img(src='/plugin/images/images2/icons/Twiter.svg' alt='')
      a#contact(href='')
        img(src='/plugin/images/images2/icons/Pintrest.svg' alt='')
  .body_product
    .content_product
      img(src='/plugin/images/icons/1024px-Zara_Logo 5.svg' alt='' width='45%')
      h4 D&#x1ECB;ch v&#x1EE5; ZARA
      .content_icon
        img.icon_content(src='/plugin/images/icons/icon_content_more.svg' alt='' height='40px')
        p.content_content
          | Tr&#x1EDF; th&agrave;nh KOL &dstrok;&#x1EC3; l&agrave;m vi&#x1EC7;c v&#x1EDB;i Th&#x1B0;&#x1A1;ng hi&#x1EC7;u y&ecirc;u th&iacute;chThe beauty of
          | astronomy is that anybody can do it. From the tiniest baby to the most
          | advanced astrophysicist, there is something for anyone who wants to
          | enjoy astronomy.
      button#pointer.btn_product
        img(src='/plugin/images/icons/icon__btn.svg' alt='')
        p VIEW MORE
    #slide_product.slide_product
      #list.list
        .slide.slide1
          img(src='/plugin/images/images2/img1_product.jfif' alt='' draggable='false')
        .slide.slide2
          img(src='/plugin/images/images2/img1.png' alt='' draggable='false')
        .slide.slide3
          img(src='/plugin/images/images2/img3_product.jfif' alt='' draggable='false')
        .slide.slide1
          img(src='/plugin/images/images2/img2.jfif ' alt='' draggable='false')
        .slide.slide2
          img(src='/plugin/images/images2/img2_product.jfif' alt='' draggable='false')
        .slide.slide3
          img(src='/plugin/images/images2/img3_product.jfif' alt='' draggable='false')
    #btn_pre_product.btn_pre_product
      img(src='/plugin/images/images2/icons/btn_pre_product.png' alt='' width='55px')
    #btn_next_product.btn_next_product
      img(src='/plugin/images/images2/icons/btn_next_product.png' alt='' width='55px')
    .btn_slide
      .btn_slide-a
        img#pointer(src='/plugin/images/icons/bnt_slide.png' alt='' width='25px')
      .btn_slide-a
        img#pointer(src='/plugin/images/icons/btn_slide1.svg' alt='' width='10px')
      .btn_slide-a
        img#pointer(src='/plugin/images/icons/btn_slide1.svg' alt='' width='10px')
      .btn_slide-a
        img#pointer(src='/plugin/images/icons/btn_slide1.svg' alt='' width='10px')
      .btn_slide-a
        img#pointer(src='/plugin/images/icons/btn_slide1.svg' alt='' width='10px')
  #slide_content.slide_content
    marquee(direction='left')
      p
        | *hot KOL * hot brandname * hot summer * event * business *education * top list *
        | Profesition
#project.projectpage
  .title
    h1 Th&ocirc;ng tin d&#x1EF1; &aacute;n
    p
      | The beauty of astronomy is that anybody can do it. From the tiniest baby to the
      | most advanced astrophysicist, there is something for anyone who wants to enjoy
      | astronomy.
  .cards
    .col-1
      .card1
        h4 Visense
        img(src='/plugin/images/images2/img1_project.png' alt='')
      .card1.card1-b
    .col-2
      .card2
        h4 HYPPOS
        img(src='/plugin/images/images2/img2_pro.png' alt='')
    .col-3
      .card3
        h4 Misthy&apos;s Virtual world
        img(src='/plugin/images/images2/img3_pro.png' alt='')
      .card1
        h4 Visense
        img(src='/plugin/images/images2/img1_project.png' alt='')
    .col-4
      .card4
        h4 Visense
      .card4.card4-b
    .col-5
      .card5
      .card5.card5-b
        h4 Misthy&apos;s Virtual world
#ft.footer
  .donors
    img#pointer(src='/plugin/images/icons/Donors.svg' alt='' width='100%')
  .content_footer
    .content
      .col0
        .title_ft
          img(src='/plugin/images/icons/icon_content0.svg' alt='')
          h3#pointer BOOKING KOL
          img(src='/plugin/images/icons/icon_content0.svg' alt='')
        .contact_ft
          img#pointer(src='/plugin/images/icons/fb_ft.svg' alt='')
          img#pointer(src='/plugin/images/icons/tw_ft.svg' alt='')
          img#pointer(src='/plugin/images/icons/in_ft.svg' alt='')
          img#pointer(src='/plugin/images/icons/igram_ft.svg' alt='')
        p
          | One stop shop for top-quality rental solutions that meet your needs and
          | exceed your expectations.
      .col1
        h5 CATALOG
        p Kpop
        p Education
        p Events
        p HOT
      .col2
        h5 ABOUT US
        p Our Partners
        p FAQ
        p About Us
        p Terms &amp; Conditions
      .col3
        h5 CUSTOMER
        p Contact Us
        p Track Your Order
        p Product Care &amp; Repair
        p More information
    a(href='#')
      img.bt_ft(src='/plugin/images/bottom-footer.png' alt='')
<script src="/plugin/js/base.js"></script>
<script src="/plugin/js/modals.js"></script>
<script src="/plugin/js/slide.js"></script>
<script src="/plugin/js/app.js"></script>

