doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/plugin/css/base.css')
  link(rel='stylesheet' href='/plugin/css/homepage.css')
  | k
  link(rel='icon' type='image/x-icon' href='/plugin/images/icons/logo.svg')
  title KOL
.homepage
  .nav
    .menu
      img#pointer.btn_menu(src='/plugin/images/icons/menu.svg' alt='')
      ul.list_menu
        //
          <li><a href="">Home</a></li>
          <li><a href="">About us</a></li>
          <li><a href="">Product</a></li>
          <li><a href="">More</a></li>
    .logo
      .img_logo
        img(src='/plugin/images/icons/logo.svg' alt='')
      .content_logo
        h3 KOLC Ecubatol Vietnam
        h6 HOUSE of DEERA
    .contact
      img#pointer(src='/plugin/images/icons/Insta.svg' alt='')
      img#pointer(src='/plugin/images/icons/facebook.svg' alt='')
      img#pointer(src='/plugin/images/icons/tiwic.svg' alt='')
      img#pointer(src='/plugin/images/icons/p.svg' alt='')
  .body__homepage
    .content__homepage
      h5 01/05
      h6 BIZ NEWS
      h2 CH&#x1EE6; NH&Acirc;N HIT TRI&#x1EC6;U VI&Ecirc;U R&#x1ED2;I TA S&#x1EBC; NG&#x1EAE;M ...
      p
        | N&agrave;ng ca s&itilde; 9x ti&#x1EC1;m n&abreve;ng &ldquo;oanh t&#x1EA1;c&rdquo; v&#x1EDB;i hit 14 tri&#x1EC7;u view, ti&#x1EBF;p t&#x1EE5;c ch&agrave;o s&acirc;n
        | &dstrok;&#x1B0;&#x1EDD;ng &dstrok;ua &acirc;m nh&#x1EA1;c v&#x1EDB;i ca kh&uacute;c t&igrave;nh y&ecirc;u ng&#x1ECD;t c&#x1EF1;c b&#x1EAF;t tai.
    .slide__homepage
      .slide1
        h4 CH&#x1EE6; NH&Acirc;N HIT TRI&#x1EC6;U VIEW
        img(src='/plugin/images/img1.png' alt='')
      .slide2
        h4.slide2__title
          | R&#x1ED2;I TA S&#x1EBC; NG&#x1EAE;M PH&Aacute;O HOA C&Ugrave;NG NHAU
          img(src='/plugin/images/img2.png' alt='')
      .slide3
        h4 R&#x1ED2;I TA S&#x1EBC; NG&#x1EAE;M PH&Aacute;O HOA C&Ugrave;NG NHAU
        img(src='/plugin/images/img3.png' alt='')
    .preVsNext
      a.pre(href='#')
        img(src='/plugin/images/icons/pre.png' alt='#' width='250px')
      p 1/10
      a.next(href='#')
        img(src='/plugin/images/icons/next.png' alt='#' width='250px')
.morepage
  .nav_more
    .menu_more
      img#pointer.btn_menu(src='/plugin/images/icons/menu.svg' alt='')
      //
        <ul class="list_menu">
        <li><a href="">Home</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">Product</a></li>
        <li><a href="">More</a></li>
        </ul>
    .logo_more
      img(src='/plugin/images/icons/logo_full.svg' alt='')
    .contact_more
      img#pointer(src='/plugin/images/icons/Insta.svg' alt='')
      img#pointer(src='/plugin/images/icons/facebook.svg' alt='')
      img#pointer(src='/plugin/images/icons/tiwic.svg' alt='')
      img#pointer(src='/plugin/images/icons/p.svg' alt='')
  .body_more
    .content_more
      img(src='/plugin/images/icons/1024px-Zara_Logo 5.svg' alt='' width='45%')
      h4 D&#x1ECB;ch v&#x1EE5; ZARA
      .content_icon
        img.icon_content(src='/plugin/images/icons/icon_content_more.svg' alt='' height='40px')
        p.content_content
          | Tr&#x1EDF; th&agrave;nh KOL &dstrok;&#x1EC3; l&agrave;m vi&#x1EC7;c v&#x1EDB;i Th&#x1B0;&#x1A1;ng hi&#x1EC7;u y&ecirc;u th&iacute;chThe beauty of astronomy is that anybody can do it. From the tiniest baby to the most advanced astrophysicist, there is something for anyone who wants to enjoy astronomy.
      button#pointer.btn_more
        img(src='/plugin/images/icons/icon__btn.svg' alt='')
        p VIEW MORE
    .slide_more
      .slide1
        img(src='/plugin/images/img1_more.png' alt='' width='70%')
      .slide2
        img(src='/plugin/images/img2_more.png' alt='' width='70%')
      .slide3
        img(src='/plugin/images/img3_more.png' alt='' width='70%')
      a.btn_pre_more(href='#')
        img(src='/plugin/images/icons/btn_pre_more.svg' alt='')
      a.btn_next_more(href='#')
        img(src='/plugin/images/icons/btn_next_more.svg' alt='')
      .btn_slide
        a(href='')
          img(src='/plugin/images/icons/bnt_slide.png' alt='' width='25px')
        a(href='')
          img(src='/plugin/images/icons/btn_slide1.svg' alt='' width='10px')
        a(href='')
          img(src='/plugin/images/icons/btn_slide1.svg' alt='' width='10px')
        a(href='')
          img(src='/plugin/images/icons/btn_slide1.svg' alt='' width='10px')
        a(href='')
          img(src='/plugin/images/icons/btn_slide1.svg' alt='' width='10px')
  .slide_content
    p
      | *hot KOL   * hot brandname  * hot summer  * event  * business   *education   * top list  * Profesition
.cardpage
  .content_cardpage
    h1 NEW
    h2 HOT KOL
    h6 caps heading
    p
      | The beauty of astronomy is that anybody can do it. From the tiniest baby to the most advanced astrophysicist, there is something for anyone who wants to enjoy astronomy.
  .slide_cardpage
    .slide1
      img.img__card(src='/plugin/images/img_Card.png' alt='')
      h4 Nguyen Thanh A
      p Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor
    .slide2
      img.img__card(src='/plugin/images/img_Card.png' alt='')
      h4 Nguyen Thanh A
      p Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor
    .slide3
      img.img__card(src='/plugin/images/img_Card.png' alt='')
      h4 Nguyen Thanh A
      p Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor
  .preVsNext
    a.pre(href='#')
      img(src='/plugin/images/icons/pre.png' alt='#' width='250px')
    p 1/10
    a.next(href='#')
      img(src='/plugin/images/icons/next.png' alt='#' width='250px')
.projectpage
  h1 Th&ocirc;ng tin d&#x1EF1; &aacute;n
  .cards
    .col-1
      .card1
        h2 HYPPOS
        p
          | The beauty of astronomy is that anybody can do it. From the tiniest baby to the most advanced astrophysicist, there is something for anyone who wants to enjoy astronomy.
        img.img_card1(src='/plugin/images/card1.png' alt='')
        img.btn_project(src='/plugin/images/icons/btn_project.svg' alt='')
        .solid
    .col-2
      .card1
        h2 Visense
        p
          | The beauty of astronomy is that anybody can do it. From the tiniest baby to the most advanced astrophysicist, there is something for anyone who wants to enjoy astronomy.
        img.img_card1(src='/plugin/images/card2.png' alt='')
      .card2
        h2 Visense
        p
          | The beauty of astronomy is that anybody can do it. From the tiniest baby to the most advanced astrophysicist, there is something for anyone who wants to enjoy astronomy.
        img.img_card5(src='/plugin/images/card5.png' alt='')
    .col-3
      .card1
        h2
          | Misthy&apos;s
          | Virtual
          | world
        img.img_card1(src='/plugin/images/card3.png' alt='')
        img.btn_project(src='/plugin/images/icons/btn_project.svg' alt='')
        .solid
      .card2
        h2 Visense
        p
          | The beauty of astronomy is that anybody can do it. From the tiniest baby to the most advanced astrophysicist, there is something for anyone who wants to enjoy astronomy.
        img.btn_project(src='/plugin/images/icons/btn_project.svg' alt='')
        .solid
    .col-4
      .card1
        h2
          | Thanks !
          | your order
        img.btn_project(src='/plugin/images/icons/btn_project.svg' alt='')
        .solid
.footer
  .donors
    img#pointer(src='/plugin/images/icons/Donors.svg' alt='' width='100%')
  .content_footer
    .content
      .col0
        .title_ft
          img(src='/plugin/images/icons/icon_content0.svg' alt='')
          h3#pointer BOOKING KOL
          img(src='/plugin/images/icons/icon_content0.svg' alt='')
        .contact_ft
          img#pointer(src='/plugin/images/icons/fb_ft.svg' alt='')
          img#pointer(src='/plugin/images/icons/tw_ft.svg' alt='')
          img#pointer(src='/plugin/images/icons/in_ft.svg' alt='')
          img#pointer(src='/plugin/images/icons/igram_ft.svg' alt='')
        p
          | One stop shop for top-quality rental solutions that meet your needs and exceed your expectations.
      .col1
        h5 CATALOG
        p Kpop
        p Education
        p Events
        p HOT
      .col2
        h5 ABOUT US
        p Our Partners
        p FAQ
        p About Us
        p Terms &amp; Conditions
      .col3
        h5 CUSTOMER SERVICES
        p Contact Us
        p Track Your Order
        p Product Care &amp; Repair
        p More information
    img#pointer.bt_ft(src='/plugin/images/bottom-footer.png' alt='')
